<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <switch-container states="['delete', 'confirmation']" active-state="delete">
    <modal-component data-on-close="$hide()">
        <modal-title>
          Delete Document
        </modal-title>
        <modal-body>
          <switch-section if-state="delete">
            This will be the Delete modal dialog
          </switch-section>
          <switch-section if-state="confirmation">
            Are you sure to delete?
          </switch-section>
        </modal-body>
        <modal-footer>
          <switch-section if-state="delete">
            <button type="button" class="btn btn-default" ng-click="$parent.switchSectionCtrl.setActiveState('confirmation'); deleteCtrl.deleteItem()">Delete</button>
            <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
          </switch-section>
          <switch-section if-state="confirmation">
            <button type="button" class="btn btn-default" ng-click="$parent.switchSectionCtrl.setActiveState('delete'); deleteCtrl.yes()">Yes</button>
            <button type="button" class="btn btn-default" ng-click="$parent.switchSectionCtrl.setActiveState('delete');  deleteCtrl.no()">No</button>
          </switch-section>
        </modal-footer>
    </modal-component>
  </switch-container>
</div>
