<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <switch-container states="['open', 'confirmation']" initial-state="open">
    <modal-component on-close="openCtrl.closeModal()">
        <modal-title>
          Open Document
        </modal-title>
        <modal-body>
          <switch-section if-state="open">
            <document-chooser 
                on-dirty-change="openCtrl.setDirty(dirty)" 
                on-validation="openCtrl.setInvalid(invalid)">
            </document-chooser>
          </switch-section>
          <switch-section if-state="confirmation">
            Are you sure to close the existing document?
          </switch-section>
        </modal-body>
        <modal-footer>
          <switch-section if-state="open">
            <default-modal-buttons 
                main-text="Open" 
                on-main-click="openCtrl.openItem()" 
                on-close-click="openCtrl.close()" 
                on-cancel-click="openCtrl.cancel()" 
                dirty="openCtrl.isDirty()" 
                invalid="openCtrl.isInvalid()"
                next-state="confirmation">
            </default-modal-buttons>
          </switch-section>
          <switch-section if-state="confirmation">
            <yes-no-buttons 
                on-yes-click="openCtrl.yes()" 
                on-no-click="openCtrl.no()">
            </yes-no-buttons>
          </switch-section>
        </modal-footer>
    </modal-component>
  </switch-container>
</div>
