<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <switch-container states="['save', 'confirmation']" initial-state="save">
    <modal-component data-on-close="saveCtrl.closeModal()">
        <modal-title>
          Save Document
        </modal-title>
        <modal-body>
          <switch-section if-state="save">
            <document-chooser data-on-dirty-change="saveCtrl.setDirty(dirty)" data-on-validation="saveCtrl.setInvalid(invalid)"></document-chooser>
          </switch-section>
          <switch-section if-state="confirmation">
            Are you sure to close the existing item?
          </switch-section>
        </modal-body>
        <modal-footer>
          <switch-section if-state="save">
            <default-modal-buttons main-text="Save" on-main-click="saveCtrl.saveItem()" on-close-click="saveCtrl.close()" on-cancel-click="saveCtrl.cancel()" dirty="saveCtrl.isDirty()" invalid="saveCtrl.isInvalid()" next-state="confirmation"></default-modal-buttons>
          </switch-section>
          <switch-section if-state="confirmation">
            <yes-no-buttons on-yes-click="saveCtrl.yes()" on-no-click="saveCtrl.no()"></yes-no-buttons>
          </switch-section>
        </modal-footer>
    </modal-component>
  </switch-container>
</div>
